.pusher{
  min-height: 100%;
  background-color: #fafafa;
}

.ui.masthead{
  width: 100%;
  background-color: #1b1c1d;
  border: 0 solid black;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.ui.text.container{
  padding-top: 4em;
  padding-bottom: 4em;
}

.item.i1{
  width: 50%;
}

.item.i2{
  width: 25%;
}

.ui.song-container{
  margin: 2.5em;
}
