.pusher{
  min-height: 100%;
  background-color: #fafafa;
}

.ui.masthead{
  width: 100%;
  background-color: #222222;
  border: 0 solid black;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.ui.text.container{
  padding-top: 3em;
  padding-bottom: 3em;
}

.item.i1{
  width: 50%;
}

.item.i2{
  width: 25%;
}

.ui.song-container{
  margin: 2.5em;
}

.icon.logo.c29 {
  background-image: url('../images/logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 1.5em;
  display: inline-block;
  vertical-align: bottom;;
  margin: -.3em 0;
  width: 60px;
  height: 60px;
}

.ui.menu.item.chords {
  border: none;
  box-shadow: none;
}

.ui.grid>.column:not(.row) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.chord{
  color: #990000;
}

.letter{
}

.ui.divider {
    margin: 0rem 0;
}

#facebook-link.facebook.activeicon{
  cursor:pointer;
  color:#3b5998;
}
.google.activeicon{
  cursor:pointer;
  color:#DB4437;
}
.android.activeicon{
  cursor:pointer;
  color:#77C159;
}
#instagram-link.instagram.activeicon{
  cursor:pointer;
  color:#125688;
}
