.pusher{
  min-height: 100%;
  background-color: #fafafa;
}

.ui.masthead{
  background-color: #222222;
  padding: 25px;
  padding-top: 35px;
  border-bottom: 2px solid #aaa;
}

.ui.masthead-mobile{
  background-color: #222222;
  border-bottom: 3px solid #aaa;
  color: white;
}

.ui.grid+.grid {
    margin-top: 0rem;
}

.four.wide.column.mobile-container{
  height: 50px;
}

.four.wide.column.mobile-container.active{
  background-color: rgba(255, 141, 133, 0.86);
}

.four.wide.column.mobile-container.active .icon.element-mobile{
  color:black;
}

.container-logoc29{
  height: 50px;
  width: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.logoc29{
  height: 100%;
  width: 100%;
}

.icon.element-mobile{
  margin: 15px auto 0 auto;
  width: 100%;
}

.icon.element-mobile:hover{
  color:#aaa;
}

.four.wide.column.mobile-container.active .icon.element-mobile:hover{
  color:black;
}

.masthead .ui.menu .item{
  color: white
}
.masthead .ui.secondary.pointing.menu .active.item {
  color: white;
}

.masthead .ui.secondary.pointing.menu .active.item:hover {
  color: white;
}

.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  color: #aaa;
}

.ui.secondary.pointing.menu .active.item {
    border-color: white;
}
.ui.secondary.pointing.menu .active.item:hover {
    border-color: white;
}

.ui.text.container{
  padding-top: 3em;
  padding-bottom: 3em;
}

.item.i1{
  width: 50%;
}

.item.i2{
  width: 25%;
}

#Letras .ui.song-container{
  margin: 2.5em;
}

#Acordes .ui.song-container{
  margin: 1.25em;
  padding: 0em;
}


.icon.logo.c29 {
  background-image: url('../images/logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 1.5em;
  display: inline-block;
  vertical-align: bottom;;
  margin: -.3em 0;
  width: 60px;
  height: 60px;
}

.ui.menu.item.chords {
  border: none;
  box-shadow: none;
}

.ui.list .list>.item:last-child, .ui.list>.item:last-child, ol.ui.list li:last-child, ul.ui.list li:last-child {
  /*margin-left: 30px;
  margin-bottom: 10px;*/
}

.ui.grid>.column:not(.row) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 0rem;
    padding-right: 0rem;
    vertical-align: top;
}

.ui.horizontal.icon.divider{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.chord{
  color: #1b1c1d;
}

.letter{
  margin-bottom: 1rem;
  font-size: .8em;
}

.ui.divider {
    margin: 0rem 0;
}

#facebook-link.facebook.activeicon{
  cursor:pointer;
  color:#3b5998;
}
.google.activeicon{
  cursor:pointer;
  color:#DB4437;
}
.android.activeicon{
  cursor:pointer;
  color:#77C159;
}

#instagram-link.instagram.activeicon{
  cursor:pointer;
  color:#125688;
}

.row.tittle {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6B1719;
}

.row.letters {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row.chords {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ui.grid.sixteen>.column:not(.row) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3.ui.header {
    font-size: 1rem;
}

.chord {
  background: #D7D8D8;
  color: #222;
  padding: 0rem;
  box-shadow: none;
  border-radius: .5rem;
  width: 45%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.chord:hover {
  cursor: pointer;
  background: #D7D8D8;
  color: #70282A;
  padding: 0rem;
  box-shadow: none;
  border-radius: .5rem;
  width: 45%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


.ui.list:first-child, ol.ui.list:first-child, ul.ui.list:first-child {
    margin-top: 1rem;
    padding-top: 0;
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #fff;
    color: #fff;
}

.left.item{
  height: 90px;
}

.ui.menu.effect-revolution {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(170, 170, 170);
    border: 1px solid rgb(170, 170, 170);
    background-color: #222222;
}

.ui.menu .item.effect-revolution{
    color: white;
}

.ui.menu .item.effect-revolution:hover{
    color: rgba(255, 141, 133, 0.86);
}

.ui.menu .item.effect-revolution:before {
    background: rgb(170, 170, 170);
}
