<?xml version="1.0" encoding="UTF-8" ?>
<events>
  <event>
    <header>Día Internacional</header>
    <date>Sábado 28 Mayo</date>
    <info>Este sábado a las 19h compartiremos de un tiempo "Internacional"</info>
    <alert>¡Te esperamos!</alert>
    <location>Lugar: Carrer Pinar del Río 5, bis.</location>
    <hour>Hora: 19h.</hour>
    <src>../images/2016/mayo/3.png</src>
    <instagram>https://www.instagram.com/p/BF81RsNykOn/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1780890342143640/'</facebook>
  </event>
</events>
