<?xml version="1.0" encoding="UTF-8" ?>
<events>
  <event>
    <header>Retiro C29</header>
     <date>7-9 Octubre</date>
    <info>Recordar que este sábado no tendremos Revolution pues estaremos en el retiro de la iglesia, si no estas apuntado, aun estás a tiempo.</info>
    <alert>¡No faltes!</alert>
    <location>Plaza Catalunya</location>
    <hour>Todo el día</hour>
    <src>../images/uploads/14517426_1839919182907422_3336536241514757048_n.jpg</src>
    <instagram>https://www.instagram.com/p/BLIZb6-gPld/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1839919182907422/</facebook>
  </event>
  <event>
    <header>Nos Vemos En Plaza Catalunya</header>
     <date>Sábado 24 Septiembre</date>
    <info>Este finde en Barcelona se celebra La Mercè y porque no aprovecharlo para compartir de un tiempo juntos.</info>
    <alert>¡No faltes!</alert>
    <location>Plaza Catalunya</location>
    <hour>17h.</hour>
    <src>../images/uploads/14368862_1834135593485781_520809729078261348_n.jpg</src>
    <instagram>https://www.instagram.com/p/BKqGojPgL7G/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1834135593485781/</facebook>
  </event>
  <event>
    <header>¡Estamos de Vuelta!</header>
     <date>Sábado 17 Septiembre</date>
    <info>¡Asi es! Se terminaron las vacaciones y en Revolution ya estamos de vuelta para iniciar con muchos ánimos, asi que nos vemos éste sábado para compartir un tiempo estupendo en familia.</info>
    <alert>¡Te esperamos!</alert>
    <location>Granollers - Canovellas</location>
    <hour>16h.</hour>
    <src>../images/uploads/14355161_1830487937183880_5622032160511992633_n.jpg</src>
    <instagram>https://www.instagram.com/p/BKWmNOsge4r/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1830487937183880/</facebook>
  </event>
  <event>
    <header>Fiesta de San Juan</header>
    <date>Sábado 23 Junio</date>
    <info>Este jueves tendremos una pequeña excusa para reunirnos y pasar un momento especial juntos.</info>
    <alert>¡No faltes!</alert>
    <location>Bellaterra</location>
    <hour>16h.</hour>
    <src>../images/uploads/13507132_1791945337704807_5242462512565142388_n.jpg</src>
    <instagram>https://www.instagram.com/p/BG9G6STSkOq/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1791945337704807/</facebook>
  </event>
  <event>
    <header>Juan Miguel Torres</header>
    <date>Sábado 18 Junio</date>
    <info>Nos vemos este sábado para compartir un tiempo estupendo entre jóvenes.</info>
    <alert>¡Un abrazo!</alert>
    <location>Carrer Pinar del Río 5, bis.</location>
    <hour>19h.</hour>
    <src>../images/uploads/13450098_1789413787957962_3987319168919353060_n.jpg</src>
    <instagram>https://www.instagram.com/p/BGuI3JNykMZ/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1789413787957962/</facebook>
  </event>
  <event>
    <header>Decídete</header>
    <date>Sábado 4 Junio</date>
    <info>No olvides que este sábado nos volvemos a ver para pasar un tiempo genial en familia.</info>
    <alert>¡Te esperamos!</alert>
    <location>Carrer Pinar del Río 5, bis.</location>
    <hour>19h.</hour>
    <src>../images/uploads/13312668_1783304111902263_4558249935220033043_n.jpg</src>
    <instagram>https://www.instagram.com/p/BGNMgd_SkER/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1783304111902263/</facebook>
  </event>
  <event>
    <header>Día Internacional</header>
    <date>Sábado 28 Mayo</date>
    <info>Este sábado a las 19h compartiremos de un tiempo "Internacional"</info>
    <alert>¡Te esperamos!</alert>
    <location>Carrer Pinar del Río 5, bis.</location>
    <hour>19h.</hour>
    <src>../images/2016/mayo/3.png</src>
    <instagram>https://www.instagram.com/p/BF81RsNykOn/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1780890342143640/</facebook>
  </event>
  <event>
    <header>About Time</header>
    <date>Sábado 21 Mayo</date>
    <info>Te esperamos este sábado a las 19h en Calle Pinar del Río 5 bis para compartir un tiempo en familia.</info>
    <alert>¡No faltes!</alert>
    <location>Carrer Pinar del Río 5, bis.</location>
    <hour>19h.</hour>
    <src>../images/2016/mayo/2.png</src>
    <instagram>https://www.instagram.com/p/BFqfwf8SkEF/</instagram>
    <facebook>https://www.facebook.com/revolutionc29/photos/a.1424212441144767.1073741828.1424015387831139/1778284352404239/</facebook>
  </event>
</events>
